.tagItemContainer {
  transition: all .3s linear;
  display: flex;
  flex-direction: column;
  padding: 26px 30px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  width: 180px;
  &:hover {
    color: #1890ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
  }
  :global(.anticon) {
    font-size: 40px;
  }
  .title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .count {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-bottom: 6px;
    i {
      font-weight: bold;
      font-style: normal;
      margin: 0 6px;
    }
    em {
      font-style: normal;
      &:first-child {
        // margin-right: 10px;
      }
    }
  }
}