.listItem {
  padding: 20px;
  transition: all .3s linear;
  cursor: pointer;
  &:hover {
    box-shadow: 0 2px 24px rgba(0, 0, 0, .16);
    transform: translateY(-1px);
  }
  .userInfo {
    display: flex;
    align-items: center;
    span {
      font-size: 12px;
      color: #999;
      &:nth-child(2n) {
        margin: 0 6px;
      }
    }
    a {
      color: #999;
      &:first-child {
        color: #333;
      }
      &:hover {
        color: #1890ff;
      }
    }
  }
  .articleContent {
    h3 {
      margin: 10px 0;
    }
  }
  .articleInfo {
    margin-top: 8px;
    .views {
      font-size: 12px;
      span:last-child {
        margin-left: 6px;
      }
    }
  }
}