.listItem {
  padding: 20px;
  transition: all .3s linear;
  cursor: pointer;
  &:hover {
    box-shadow: 0 2px 24px rgba(0, 0, 0, .16);
    transform: translateY(-1px);
  }
  .userInfo {
    span {
      font-size: 12px;
      &:nth-child(2) {
        margin: 0 10px;
      }
      &:last-child {
        color: #999;
      }
    }
  }
  .articleContent {
    h3 {
      margin: 10px 0;
    }
  }
  .articleInfo {
    margin-top: 8px;
    .views {
      font-size: 12px;
      span:last-child {
        margin-left: 6px;
      }
    }
  }
}